doctype
html
  head
    link(href='./css/screen.css', type="text/css", rel="stylesheet")

        
    //if lte IE 8
      link(href=css.ie, type="text/css", rel="stylesheet")

    title Gulp Scaffold
  body
    block content

    script(src='./js/index.js')